In [3]:
import pandas as pd
import dask.dataframe as dd
path='C:/Users/Sarv/Desktop/vs_code/Git/ETL-pipeline/data/raw/trade_history_table.h5'

ModuleNotFoundError: No module named 'dask'

In [11]:
pd.read_hdf(path)

,insCode,dEven,nTran,hEven,qTitTran,pTran,qTitNgJ,iSensVarP,pPhSeaCotJ,pPbSeaCotJ,iAnuTran,xqVarPJDrPRf,canceledCompony,shenaseh_meli,Date,canceled,Compony
0,NaN,0,511,130534,3000,3100.0,0,NaN,0.0,0.0,0,0.0,NaN,10100518071,20110713,1.0,آ س پ
1,NaN,0,629,111514,10939,3100.0,0,NaN,0.0,0.0,0,0.0,NaN,10100518071,20110713,0.0,آ س پ
2,NaN,0,625,111513,25000,3100.0,0,NaN,0.0,0.0,0,0.0,NaN,10100518071,20110713,0.0,آ س پ
3,NaN,0,623,111512,500,3100.0,0,NaN,0.0,0.0,0,0.0,NaN,10100518071,20110713,0.0,آ س پ
4,NaN,0,619,111511,35000,3100.0,0,NaN,0.0,0.0,0,0.0,NaN,10100518071,20110713,0.0,آ س پ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20177,NaN,0,101,121953,100000,4100.0,0,NaN,0.0,0.0,0,0.0,NaN,NaN,20170830,0.0,بترانسح
20178,NaN,0,1,90425,4000,4300.0,0,NaN,0.0,0.0,0,0.0,NaN,NaN,20170830,0.0,بترانسح
20179,NaN,0,2,113635,1000,4300.0,0,NaN,0.0,0.0,0,0.0,NaN,NaN,20170902,0.0,بترانسح
20180,NaN,0,1,90547,10000,4300.0,0,NaN,0.0,0.0,0,0.0,NaN,NaN,20170902,0.0,بترانسح
20181,NaN,0,280,112722,45820,4100.0,0,NaN,0.0,0.0,0,0.0,NaN,NaN,20170903,0.0,بترانسح